[submodule "spec"]
	path = spec
	url = https://github.com/ACMClassCourse-2025/rx-compiler-specification.git
[submodule "tests"]
	path = tests/official
	url = https://github.com/ACMClassCourse-2025/rx-compiler-testcases
[submodule "vendor/REIMU"]
	path = vendor/REIMU
	url = https://github.com/llx07/REIMU.git
